types-setuptools==80.9.0.20250809
pip==24.1.2
setuptools==75.2.0
requirements-parser==0.9.0
bitsandbytes==0.47.0
trl==0.21.0
google-colab==1.0.0
pyogrio==0.11.1
sentencepiece==0.2.1
shapely==2.1.1
language_data==1.3.0
google-adk==1.11.0
dlib==19.24.6
python-louvain==0.16
libkvikio-cu12==25.6.0
mistune==3.1.3
prettytable==3.16.0
ndindex==1.10.0
Sphinx==8.2.3
jsonschema==4.25.1
pytensor==2.31.7
tensorflow-probability==0.25.0
pynvjitlink-cu12==0.7.0
opentelemetry-resourcedetector-gcp==1.9.0a0
decorator==4.4.2
GitPython==3.1.45
wasabi==1.1.3
google-cloud-spanner==3.57.0
param==2.2.1
libucxx-cu12==0.44.0
bigframes==2.15.0
betterproto==2.0.0b6
nbclassic==1.3.1
SQLAlchemy==2.0.43
gin-config==0.5.0
requests==2.32.4
bigquery-magics==0.10.2
seaborn==0.13.2
thinc==8.3.6
python-dateutil==2.9.0.post0
jupyter-client==6.1.12
anyio==4.10.0
immutabledict==4.2.1
astropy-iers-data==0.2025.8.18.0.40.14
confection==0.1.5
langchain==0.3.27
intel-cmplr-lib-ur==2025.2.1
gspread-dataframe==4.0.0
pyasn1==0.6.1
numpy==2.0.2
nvidia-ml-py==12.575.51
ipython-sql==0.5.0
pydantic==2.11.7
astunparse==1.6.3
tenacity==8.5.0
pygame==2.6.1
wheel==0.45.1
colorcet==3.1.0
opentelemetry-api==1.36.0
oauth2client==4.1.3
toml==0.10.2
google-auth==2.38.0
etuples==0.3.10
panel==1.7.5
jax-cuda12-pjrt==0.5.3
multitasking==0.0.12
uvicorn==0.35.0
osqp==1.0.4
numba==0.60.0
opt_einsum==3.4.0
requests-toolbelt==1.0.0
entrypoints==0.4
promise==2.3
webencodings==0.5.1
numba-cuda==0.11.0
langchain-core==0.3.74
google-cloud-language==2.17.2
sphinxcontrib-applehelp==2.0.0
click==8.2.1
opentelemetry-exporter-gcp-trace==1.9.0
Werkzeug==3.1.3
Cython==3.0.12
natsort==8.4.0
sqlparse==0.5.3
scs==3.2.8
h2==4.2.0
pyOpenSSL==24.2.1
httpimport==1.4.1
prometheus_client==0.22.1
gdown==5.2.0
arviz==0.22.0
pandas-gbq==0.29.2
dill==0.3.8
simple-parsing==0.1.7
threadpoolctl==3.6.0
opencv-contrib-python==4.12.0.88
chardet==5.2.0
fastapi==0.116.1
itsdangerous==2.2.0
geemap==0.35.3
absl-py==1.4.0
accelerate==1.10.0
tiktoken==0.11.0
tf_keras==2.19.0
mcp==1.13.0
marisa-trie==1.3.0
keyrings.google-artifactregistry-auth==1.1.2
autograd==1.8.0
pydot==3.0.4
bleach==6.2.0
sniffio==1.3.1
polars==1.25.2
rpy2==3.5.17
Farama-Notifications==0.0.4
jupyter_kernel_gateway==2.5.2
libcuml-cu12==25.6.0
peft==0.17.0
librmm-cu12==25.6.0
kagglehub==0.3.12
gspread==6.2.1
torchaudio==2.8.0+cu126
libpysal==4.13.0
yarl==1.20.1
python-slugify==8.0.4
urllib3==2.5.0
textblob==0.19.0
argon2-cffi-bindings==25.1.0
numexpr==2.11.0
firebase-admin==6.9.0
websocket-client==1.8.0
gym==0.25.2
jupyter-server==1.16.0
python-utils==3.9.1
catalogue==2.0.10
db-dtypes==1.4.3
eerepr==0.1.2
geopandas==1.1.1
proto-plus==1.26.1
datasets==4.0.0
fasttransform==0.0.2
google-auth-httplib2==0.2.0
httpcore==1.0.9
google-cloud-speech==2.33.0
dm-tree==0.1.9
hyperframe==6.1.0
tifffile==2025.6.11
nbformat==5.10.4
jeepney==0.9.0
sqlglot==25.20.2
pydata-google-auth==1.9.1
nvidia-cuda-nvcc-cu12==12.5.82
pandas-stubs==2.2.2.240909
rsa==4.9.1
h11==0.16.0
google-cloud-aiplatform==1.109.0
requests-oauthlib==2.0.0
wrapt==1.17.3
treescope==0.1.10
python-snappy==0.7.3
rapids-dask-dependency==25.6.0
markdown-it-py==4.0.0
httpx-sse==0.4.1
tokenizers==0.21.4
importlib_resources==6.5.2
pydotplus==2.0.2
langcodes==3.5.0
CacheControl==0.14.3
plotnine==0.14.5
pydantic-settings==2.10.1
jax-cuda12-plugin==0.5.3
nvidia-curand-cu12==10.3.7.77
tabulate==0.9.0
rpds-py==0.27.0
multidict==6.6.4
mdurl==0.1.2
dask==2025.5.0
opencv-python-headless==4.12.0.88
python-dotenv==1.1.1
typing_extensions==4.14.1
tornado==6.4.2
array_record==0.7.2
psutil==5.9.5
google-cloud-dataproc==5.21.0
namex==0.1.0
wandb==0.21.1
soupsieve==2.7
diffusers==0.34.0
google-cloud-resource-manager==1.14.2
graphviz==0.21
chex==0.1.90
curl_cffi==0.13.0
openai==1.100.0
pyarrow==18.1.0
sphinxcontrib-serializinghtml==2.0.0
jax==0.5.3
protobuf==5.29.5
pyperclip==1.9.0
debugpy==1.8.15
cuda-python==12.6.2.post1
ipyleaflet==0.20.0
tqdm==4.67.1
cycler==0.12.1
parsy==2.1
distributed-ucxx-cu12==0.44.0
pyomo==6.9.3
cudf-polars-cu12==25.6.0
Jinja2==3.1.6
peewee==3.18.2
ipytree==0.2.2
referencing==0.36.2
earthengine-api==1.5.24
spacy==3.8.7
networkx==3.5
dataproc-spark-connect==0.8.3
cachetools==5.5.2
build==1.3.0
xgboost==3.0.4
google-cloud-bigquery-connection==1.18.3
blobfile==3.0.0
shellingham==1.5.4
jupyterlab_widgets==3.0.15
highspy==1.11.0
jaxlib==0.5.3
python-box==7.3.2
orbax-checkpoint==0.11.22
albumentations==2.0.8
sse-starlette==3.0.2
spanner-graph-notebook==1.1.7
PyYAML==6.0.2
gradio==5.42.0
mizani==0.13.5
simsimd==6.5.1
platformdirs==4.3.8
stanio==0.5.1
hf_transfer==0.1.9
huggingface-hub==0.34.4
jupyter-console==6.1.0
xarray-einstats==0.9.1
pyasn1_modules==0.4.2
miniKanren==1.0.5
psycopg2==2.9.10
preshed==3.0.10
treelite==4.4.1
jaraco.context==6.0.1
pyshp==2.3.1
branca==0.8.1
nx-cugraph-cu12==25.6.0
httpx==0.28.1
matplotlib-venn==1.1.2
grpc-interceptor==0.15.4
google-api-core==2.25.1
librosa==0.11.0
grpcio-status==1.71.2
regex==2024.11.6
fastai==2.8.3
nvidia-nvtx-cu12==12.6.77
sphinxcontrib-jsmath==1.0.1
ipywidgets==7.7.1
en_core_web_sm==3.8.0
beartype==0.21.0
cupy-cuda12x==13.3.0
optree==0.17.0
imageio-ffmpeg==0.6.0
packaging==25.0
etils==1.13.0
webcolors==24.11.1
locket==1.0.0
simplejson==3.20.1
linkify-it-py==2.0.3
cramjam==2.11.0
google-cloud-bigquery-storage==2.32.0
antlr4-python3-runtime==4.9.3
Brotli==1.1.0
tzdata==2025.2
distro==1.9.0
distributed==2025.5.0
jiter==0.10.0
transformers==4.55.2
propcache==0.3.2
wurlitzer==3.1.1
Flask==3.1.1
google-cloud-firestore==2.21.0
nvidia-cusolver-cu12==11.7.1.2
tcmlib==1.4.0
progressbar2==4.5.0
clarabel==0.11.1
torchtune==0.6.1
mkl==2025.2.0
tf-slim==1.1.0
soundfile==0.13.1
blinker==1.9.0
google-auth-oauthlib==1.2.2
uc-micro-py==1.0.3
glob2==0.7
imutils==0.5.4
ply==3.11
cuml-cu12==25.6.0
rmm-cu12==25.6.0
pyzmq==26.2.1
pycairo==1.28.0
community==1.0.0b1
statsmodels==0.14.5
pynvml==12.0.0
kaggle==1.7.4.5
tweepy==4.16.0
fsspec==2025.3.0
ipyparallel==8.8.0
soxr==0.5.0.post1
cons==0.4.7
ipython==7.34.0
tomlkit==0.13.3
google-cloud-logging==3.12.1
pylibcugraph-cu12==25.6.0
tables==3.10.2
intel-openmp==2025.2.1
pickleshare==0.7.5
google-cloud-storage==2.19.0
pooch==1.8.2
cmake==3.31.6
jupytext==1.17.2
ipykernel==6.17.1
termcolor==3.1.0
tensorflow-text==2.19.0
ydf==0.13.0
sentence-transformers==5.1.0
pyspark==3.5.1
editdistance==0.8.1
tensorflow==2.19.0
importlib_metadata==8.7.0
umap-learn==0.5.9.post2
pytz==2025.2
fonttools==4.59.1
google-cloud-bigquery==3.35.1
contourpy==1.3.3
murmurhash==1.0.13
py4j==0.10.9.7
fastrlock==0.8.3
keras==3.10.0
text-unidecode==1.3
fastcore==1.8.7
einops==0.8.1
raft-dask-cu12==25.6.0
argon2-cffi==25.1.0
imbalanced-learn==0.14.0
mpmath==1.3.0
cyipopt==1.5.0
google-genai==1.30.0
keras-hub==0.21.1
torchdata==0.11.0
geographiclib==2.0
h5py==3.14.0
six==1.17.0
html5lib==1.1
zict==3.0.0
PyWavelets==1.9.0
greenlet==3.2.4
python-multipart==0.0.20
notebook==6.5.7
langsmith==0.4.14
semantic-version==2.10.0
Send2Trash==1.8.3
typeguard==4.4.4
nvidia-cusparselt-cu12==0.7.1
grpcio==1.74.0
certifi==2025.8.3
ipyevents==2.0.2
ffmpy==0.6.1
charset-normalizer==3.4.3
patsy==1.0.1
pandocfilters==1.5.1
rapids-logger==0.1.1
widgetsnbextension==3.6.10
iniconfig==2.1.0
opentelemetry-semantic-conventions==0.57b0
wcwidth==0.2.13
sphinxcontrib-devhelp==2.0.0
pylibraft-cu12==25.6.0
uritemplate==4.2.0
hpack==4.1.0
websockets==15.0.1
weasel==0.4.1
jsonpointer==3.0.0
logical-unification==0.4.6
google-cloud-translate==3.21.1
slicer==0.0.8
cloudpickle==3.1.1
cufflinks==0.17.3
scikit-learn==1.6.1
matplotlib-inline==0.1.7
google-cloud-appengine-logging==1.6.2
pygit2==1.18.2
gast==0.6.0
spacy-loggers==1.0.5
sphinxcontrib-qthelp==2.0.0
nvidia-cusparse-cu12==12.5.4.2
colour==0.1.5
flax==0.10.6
yfinance==0.2.65
pydub==0.25.1
defusedxml==0.7.1
kiwisolver==1.4.9
easydict==1.13
groovy==0.1.2
nibabel==5.3.2
cudf-cu12==25.6.0
xxhash==3.5.0
frozendict==2.4.6
traitlets==5.7.1
tsfresh==0.21.0
Pygments==2.19.2
tbb==2022.2.0
more-itertools==10.7.0
multipledispatch==1.0.0
jupyterlab_pygments==0.3.0
ale-py==0.11.2
psygnal==0.14.1
optax==0.2.5
cffi==1.17.1
scipy==1.16.1
tzlocal==5.3.1
PyDrive2==1.21.3
nbconvert==7.16.6
tensorstore==0.1.76
aiohappyeyeballs==2.6.1
google-resumable-media==2.7.2
grpc-google-iam-v1==0.14.2
pillow==11.3.0
tensorflow-datasets==4.9.9
fastjsonschema==2.21.2
httplib2==0.22.0
safehttpx==0.1.6
music21==9.3.0
timm==1.0.19
nvidia-cudnn-cu12==9.10.2.21
absolufy-imports==0.3.1
Bottleneck==1.4.2
et_xmlfile==2.0.0
roman-numerals-py==3.1.0
beautifulsoup4==4.13.4
sortedcontainers==2.4.0
torch==2.8.0+cu126
google-pasta==0.2.0
lightgbm==4.6.0
rich==13.9.4
fastdownload==0.0.7
libcugraph-cu12==25.6.0
google-crc32c==1.7.1
anywidget==0.9.18
toolz==0.12.1
babel==2.17.0
scooby==0.10.1
future==1.0.0
snowballstemmer==3.0.1
ml_dtypes==0.5.3
nvidia-cuda-runtime-cu12==12.6.77
missingno==0.5.2
partd==1.4.2
ruff==0.12.9
alabaster==1.0.0
jupyter_core==5.8.1
astropy==7.1.0
audioread==3.0.1
oauthlib==3.3.1
umf==0.11.0
jieba==0.42.1
xarray==2025.8.0
moviepy==1.0.3
sympy==1.13.3
orjson==3.11.2
Authlib==1.6.1
plotly==5.24.1
omegaconf==2.3.0
nest-asyncio==1.6.0
PyOpenGL==3.1.10
pluggy==1.6.0
pycparser==2.22
tblib==3.1.0
tensorflow-hub==0.16.1
nvidia-cufile-cu12==1.11.1.6
google-cloud-trace==1.16.2
tensorflow_decision_forests==1.12.0
opencv-python==4.12.0.88
libclang==18.1.1
tensorboard-data-server==0.7.2
tensorboard==2.19.0
pandas-datareader==0.10.0
bqplot==0.12.45
zipp==3.23.0
pylibcudf-cu12==25.6.0
jaraco.classes==3.4.0
proglog==0.1.12
starlette==0.47.2
google-cloud-core==2.4.3
cvxpy==1.6.7
ratelim==0.1.6
lxml==5.4.0
GDAL==3.8.4
nvidia-nvjitlink-cu12==12.6.85
tensorflow-metadata==1.17.2
vega-datasets==0.9.0
blis==1.3.0
py-cpuinfo==9.0.0
ucx-py-cu12==0.44.0
gradio_client==1.11.1
hf-xet==1.1.7
keyring==25.6.0
sentry-sdk==2.35.0
fastprogress==1.0.3
pynndescent==0.5.13
msgpack==1.1.1
ipython-genutils==0.2.0
humanize==4.12.3
ibis-framework==9.5.0
nbclient==0.10.2
multiprocess==0.70.16
docutils==0.21.2
bokeh==3.7.3
pymc==5.25.1
llvmlite==0.43.0
nltk==3.9.1
libraft-cu12==25.6.0
pydantic_core==2.33.2
imageio==2.37.0
googleapis-common-protos==1.70.0
matplotlib==3.10.0
imagesize==1.4.1
xlrd==2.0.2
narwhals==2.1.2
folium==0.20.0
pytest==8.4.1
h5netcdf==1.6.4
gcsfs==2025.3.0
grpclib==0.4.8
PyGObject==3.42.0
mdit-py-plugins==0.5.0
albucore==0.0.24
blosc2==3.7.1
google-generativeai==0.8.5
google-api-python-client==2.179.0
googledrivedownloader==1.1.0
spacy-legacy==3.0.12
cymem==2.0.11
PyJWT==2.10.1
hyperopt==0.2.7
prompt_toolkit==3.0.51
inflect==7.5.0
cmdstanpy==1.2.5
pyviz_comms==3.0.6
SecretStorage==3.3.3
smart_open==7.3.0.post1
pyerfa==2.0.1.5
jsonschema-specifications==2025.4.1
nvidia-cuda-nvrtc-cu12==12.6.77
holidays==0.78
gym-notices==0.1.0
cryptography==43.0.3
google==2.0.3
jupyter-leaflet==0.20.0
nvidia-cublas-cu12==12.6.4.1
triton==3.4.0
pandas==2.2.2
backcall==0.2.0
dask-cuda==25.6.0
annotated-types==0.7.0
torchao==0.10.0
notebook_shim==0.2.4
pycocotools==2.0.10
attrs==25.3.0
zstandard==0.24.0
sklearn-pandas==2.2.0
xyzservices==2025.4.0
colorlover==0.3.0
types-pytz==2025.2.0.20250809
nvidia-cuda-cupti-cu12==12.6.80
pyproj==3.7.2
cuvs-cu12==25.6.1
portpicker==1.5.2
shap==0.48.0
ipyfilechooser==0.6.0
prophet==1.1.7
lazy_loader==0.4
keras-nlp==0.21.1
google-cloud-audit-log==0.3.2
google-cloud-datastore==2.21.0
PySocks==1.7.1
torchvision==0.23.0+cu126
docstring_parser==0.17.0
pexpect==4.9.0
geocoder==1.38.1
duckdb==1.3.2
typer==0.16.0
MarkupSafe==3.0.2
flatbuffers==25.2.10
smmap==5.0.2
libcuvs-cu12==25.6.1
pyparsing==3.2.3
tinycss2==1.4.0
watchdog==6.0.0
scikit-image==0.25.2
yellowbrick==1.5
nvidia-cufft-cu12==11.3.0.4
openpyxl==3.1.5
gymnasium==1.2.0
dopamine_rl==4.1.2
dask-cudf-cu12==25.6.0
stumpy==1.13.0
libucx-cu12==1.18.1
hdbscan==0.8.40
google-ai-generativelanguage==0.6.15
jaraco.functools==4.2.1
idna==3.10
google-cloud-functions==1.20.4
cvxopt==1.3.2
pycryptodomex==3.23.0
aiosignal==1.4.0
pyproject_hooks==1.2.0
nvidia-nccl-cu12==2.27.3
parso==0.8.4
opentelemetry-sdk==1.36.0
srsly==2.5.1
mlxtend==0.23.4
ptyprocess==0.7.0
Markdown==3.8.2
jsonpickle==4.1.1
aiofiles==24.1.0
langchain-text-splitters==0.3.9
traittypes==0.2.1
sphinxcontrib-htmlhelp==2.1.0
torchsummary==1.5.1
plum-dispatch==2.5.7
wordcloud==1.9.4
filelock==3.19.1
frozenlist==1.7.0
typing-inspection==0.4.1
terminado==0.18.1
cloudpathlib==0.21.1
gitdb==4.0.12
geopy==2.4.1
nvtx==0.2.13
atpublic==5.1
altair==5.5.0
stringzilla==3.12.6
jsonpatch==1.33
libcudf-cu12==25.6.0
safetensors==0.6.2
ucxx-cu12==0.44.0
joblib==1.5.1
google-cloud-secret-manager==2.24.0
holoviews==1.21.0
aiohttp==3.12.15
python-apt==0.0.0
launchpadlib==1.10.16
distro==1.7.0
PyGObject==3.42.1
blinker==1.4
wadllib==1.3.6
more-itertools==8.10.0
SecretStorage==3.3.1
keyring==23.5.0
zipp==1.0.0
dbus-python==1.2.18
importlib-metadata==4.6.4
jeepney==0.7.1
python-apt==2.4.0+ubuntu4
oauthlib==3.2.0
lazr.uri==1.0.6
lazr.restfulclient==0.14.4
pyparsing==2.4.7
six==1.16.0
httplib2==0.20.2
cryptography==3.4.8
PyJWT==2.3.0
MarkupSafe==2.0.1
Mako==1.1.3
Markdown==3.3.6
